*{
    margin: 0;
}
body{
    background-color: #403f3d;
}
.entete{
    background-color: #52535c;
    
    height: 50px;
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    align-items: center;
}
.bannercard{
    
    background-image: url(foliobg.jpg);
    background-size: cover;
    
    height: 85vh;
  
}

.bannertext{
    position: absolute;
    top: 15%;
    color: #ff4a57;
    padding: 10px;
    font-size: 26px;
    margin-left: 30vh;
}
.info{
    border-radius: 15px;
    position: relative;
    border-color: black ;
    height: 230px;
    background-color: rgb(35, 85, 136);
    width: 190px;
    padding-top: 1%;
    margin-left: 130vh;
    padding-left: 5px;
    top: 20px;
    opacity: 0.9;
}
.dob{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}


.text{
     
    margin-bottom: -0.5px;
    font-size: 15px;
}
.tvl{ 
    margin-bottom: 0px;
}
p,h3{
    color: #ff4a57;
    font-size: 3vh;

}
 h3{
    margin-bottom: 15px;
 } 
h1{
    position: relative;
    font-size: 6.5vh;
    color: #fff;
    top: 30vh;
    left: 5vh;
   
}
h2{
    position: relative;
    font-size: 4vh;
    color: #fff;
    top: 33vh;
    left: 5vh;
} 
.div1{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.diva{
    background-image: url(toitn.jpg);
    background-size: cover;
    width: 40vh;
    height: 30vh;
}
.texta{
    position: relative;
    height: 20px;
    width: 90px; 
    background-color: rgb(35, 85, 136);
    padding: 10px 0;
    top: 70%;
}
.divb{
    background-image: url(toitn2.jpg);
    background-size: cover;
    width: 40vh;
    height: 30vh;
}

.our{ 
    font-weight: bold;
    padding-top: 10vh;
    padding-left: 50vh;
    font-size: 4.8vh;
    border: 1px solid black;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pbt{
    color: #ff4a57;

}
.ser{

    color:#ff4a57;
    background-color: transparent;
    width: fit-content;
    margin-top: 10px;
    margin-left: 45%;
    font-size: 3vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.mys{
    margin-top: 15px;
    color: #fff;
    background-color: transparent;
    width: fit-content;
    margin-left: 42.5%;
    font-size: 5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lor{
    margin-top: 15px;
    color: #fff;
    background-color: transparent;
    width: fit-content;
    margin-left: 30%;
    font-size: 3.5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cubes{
    
}